
{% extends 'base.html' %}

{% block content %}
{% load static from staticfiles %}
            <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="breadcome-heading">
                                            <form role="search" class="sr-input-func">
                                                <input type="text" placeholder="Search..." class="search-int form-control">
                                                <a href="#"><i class="fa fa-search"></i></a>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul class="breadcome-menu">
                                            <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod">Tree View</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tree-viewer-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="sparkline9-list shadow-reset responsive-mg-b-30">
                            <div class="sparkline9-hd">
                                <div class="main-sparkline9-hd">
                                    <h1>Tree Viewer Style 1</h1>
                                </div>
                            </div>
                            <div class="sparkline9-graph">
                                <div class="edu-content res-tree-ov">
                                    <div id="jstree1">
                                        <ul>
                                            <li class="jstree-open">Admin Template
                                                <ul>
                                                    <li>css
                                                        <ul>
                                                            <li data-jstree='"type":"css"}'>bootstrap.min.css</li>
                                                            <li data-jstree='"type":"css"}'>font-awesome.min.css</li>
                                                            <li data-jstree='"type":"css"}'>responsive.css</li>
                                                            <li data-jstree='"type":"css"}'>tree-viewer.css</li>
                                                        </ul>
                                                    </li>
                                                    <li>sounds
                                                        <ul>
                                                            <li data-jstree='"type":"ogg"}'>sound1.ogg</li>
                                                            <li data-jstree='"type":"ogg"}'>sound2.ogg</li>
                                                            <li data-jstree='"type":"ogg"}'>sound3.ogg</li>
                                                            <li data-jstree='"type":"ogg"}'>sound4.ogg</li>
                                                            <li data-jstree='"type":"ogg"}'>sound5.ogg</li>
                                                            <li data-jstree='"type":"ogg"}'>sound6.ogg</li>
                                                        </ul>
                                                    </li>
                                                    <li>fonts
                                                        <ul>
                                                            <li data-jstree='"type":"ttf"}'>edu-icon.ttf</li>
                                                            <li data-jstree='"type":"woff"}'>edu-icon.woff</li>
                                                            <li data-jstree='"type":"otf"}'>FontAwesome.otf</li>
                                                            <li data-jstree='"type":"ttf"}'>fontawesome-webfont.ttf</li>
                                                            <li data-jstree='"type":"woff"}'>fontawesome-webfont.woff</li>
                                                            <li data-jstree='"type":"woff"}'>glyphicons-halflings-regular.woff</li>
                                                        </ul>
                                                    </li>
                                                    <li class="jstree-open">img
                                                        <ul>
                                                            <li data-jstree='"type":"png"}'>logo.png</li>
                                                            <li data-jstree='"type":"ico"}'>favicon.ico</li>
                                                            <li class="text-navy" data-jstree='"type":"img"}'>notification.png</li>
                                                            <li class="text-navy" data-jstree='"type":"img"}'>message.png</li>
                                                        </ul>
                                                    </li>
                                                    <li class="jstree-open">js
                                                        <ul>
                                                            <li data-jstree='"type":"js"}'>bootstrap.min.js</li>
                                                            <li data-jstree='"type":"js"}'>jquery-ui.min.js</li>
                                                            <li data-jstree='"type":"js"}'>jquery.meanmenu.js</li>
                                                            <li data-jstree='"type":"js"}'>jquery-1.11.3.min.js</li>
                                                            <li data-jstree='"type":"js"}'>modernizr-2.8.3.min.js</li>
                                                            <li class="text-navy" data-jstree='"type":"js"}'>jquery.mCustomScrollbar.concat.min.js</li>
                                                        </ul>
                                                    </li>
                                                    <li data-jstree='"type":"html"}'> dashboard.html</li>
                                                    <li data-jstree='"type":"html"}'> dashboard-2.html</li>
                                                    <li data-jstree='"type":"html"}'> analytics.html</li>
                                                    <li data-jstree='"type":"html"}'> widgets.html</li>
                                                    <li data-jstree='"type":"html"}'> tree-view.html</li>
                                                    <li data-jstree='"type":"html"}'> tinymc.html</li>
                                                    <li class="text-navy" data-jstree='"type":"html"}'> sparkline.html</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="sparkline10-list sparkel-pro-mg-t-30 shadow-reset">
                            <div class="sparkline10-hd">
                                <div class="main-sparkline10-hd">
                                    <h1>Tree Viewer Style 2</h1>
                                </div>
                            </div>
                            <div class="sparkline10-graph">
                                <div class="edu-content">
                                    <div id="using_json"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       {% endblock %}